body {
  background-image: url("img/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: Georgia;
}

h1 {
  text-align: center;
  font-size: 60px;
  color: darkblue;
  font-family: Comic Sans MS;
}

h3 {
  text-align: center;
}

h4 {
  font-style: oblique;
  text-align: center;
}

.paragraf1 {
  text-align: center;
  color: orange;
}

.paragraf2 {
  text-align: center;
}

.lian {
  color: red;
  font-variant: small-caps;
}

.lian:hover {
  color: white;
}

.mark:hover {
  color: white;
  background-color: darkblue;
}
